    <div class="panel panel-body panel-danger">
        <table class="table table-striped table-hover">
            <tr>
                <th>
                    <a asp-action="RezultateElevi" asp-route-id="9">Clasa a IX-a</a>
                </th>
                <th>
                    <a asp-action="RezultateElevi" asp-route-id="10">Clasa a X-a</a>
                </th>
                <th>
                    <a asp-action="RezultateElevi" asp-route-id="11">Clasa a XI-a</a>
                </th>
                <th>
                    <a asp-action="RezultateElevi" asp-route-id="12">Clasa a XII-a</a>
                </th>   
            </tr>
            
        </table>
    </div>


