@model CoreApp.Entities.Restaurant
<h1>@Model.Name</h1>

<div>
    Id: @Model.Id
</div>

<div>
    Cuisine: @Model.Cuisine
</div>

<div>  ...details... </div>
<div>
    @Html.ActionLink("Back", "Index")
</div>