@model CoreApp.ViewModels.HomePageViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Order Food</title>
</head>
<body>
    <h1>Welcome</h1>
    <table>

        <tr>
            @Model.CurrentMessage
        </tr>
        @foreach (var item in Model.Restaurants)
        {
            <tr>
                <td>
                    @*<a href="/home/details/@item.Id">Details</a>*@
                    @Html.ActionLink("View","Details", new { Id = item.Id})
                </td>
                <td>@item.Name</td>
            </tr>
        }
    </table>
</body>
</html>