@{
    ViewData["Title"] = "Home Page";
}

<p class="alert-danger">Concursul Stefan Dartu, editia 2017.</p>
<h3 class="alert-info">Concursul o sa inceapa la ora 13:30 si o sa dureze 3h 30 pentru elevii 9-12 si 3h pentru elevii de gimnaziu.</h3>

<h3 class="alert-info">Elevii sunt rugati sa se prezinte la ora 13:00 in fata salilor de concurs.</h3>
<h3 class="alert-info">Fiecare elev de liceu va avea de rezolvat 3 probleme iar elevii de gimnaziu vor avea de rezolvat 2 probleme.</h3>